<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/pet-style.css">
    <link rel="stylesheet" href="/index.html">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>WOLF & COLD </title>
</head>

<body>

    <header>
        <div class="header-container-pets">
            <div class="logo"><img src="#" alt="Logo de Stark" class="house-stark">
            </div>

            <nav>
                <ul class ="menu-list">
                    <li><a href="#home"><i class="fa-solid fa-paw"></i></a></li>
                    <li><a href="#especial"><i class="fa-solid fa-dragon"></i></a></li>
                </ul>
            </nav>
            <div class="back-btn">
                <a href="/index.html" class = "goback">Back<i class="fa-solid fa-right-to-bracket"></i></a>
            </div>
        </div>
    </header>



    <main>

        <section class="hero-pets" id = "home">
            <span class ="pets-Adopt">Adopt</span>
            <div class="hero-pets-container">
                <article class="articule-jhon">
                    <div class="jhon-container">

                        <h3>perro</h3>
                        <p> este perro es increible y es muy especial</p>
                    
                    </div>
                </article>





                <article class="articule-daeneris">
                    <div class="daeneris-container"> 
                        <h3>gato</h3>
                        <p> este gato se cree la reina de poniente es loca bla bla</p>
                    </div>
                </article>


                <article class="article-aegon">
                <div class = "aegon-container">
                    <h3>perro</h3>
                    <p>piche perro todo un conquistador se conquisto todo XD</p>
                </div>
                </article>


                <article class=" article-viserys">
                    <div class = "viserys-container">
                        <h3>gato</h3>
                        <p>jajaja piche alucin</p>
                    </div>
                </article>

                <article class=" article-drogon">
                    <div class = "drogon-container">
                        <h3>gato</h3>
                        <p>jajaja no duro ni una temporara y se murio de tentanos y su hijo es bien vavoso</p>
                    </div>
                </article>
                <article class=" article-barry">
                    <div class = "barry-container">
                        <h3>perro</h3>
                        <p>el mejor caballero un repto para ese hombre </p>
                    </div>
                </article>







            </div>

        </section>

    </main>


</body>

</html>