<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/pet-style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>WOLF & COLD - Mascotas de Westeros</title>
</head>

<body>

    <header class="header-pets">
        <div class="header-container">
            <div class="logo-area">
                <i class="fa-solid fa-wolf-pack-white"></i>
                <span>WOLF & COLD</span>
            </div>
            
            <!-- Botón Hamburguesa -->
            <div class="menuburger">
                <button aria-label="Abrir menú">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <nav class="nav-area">
                <button class="cerrar-menu"> cerrar menu </button>
                <ul class="nav-links">
                    <li><a href="#home">Explorar</a></li>
                    <li><a href="#adopt">Adoptar</a></li>
                </ul>
                <div class="back-btn">
                    <a href="../../index.html" class="goback">
                        Back <i class="fa-solid fa-person-walking-arrow-loop-left"></i>
                    </a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero-pets" id="home">
            <div class="hero-pets-container">

                <article class="card-marketplace article-jhon">
                    <div class="card-image">
                        <img src="/public/img/Fantasma, o Lobo Gigante de Jaehaerys Targaryen que foi adotado_.jpg" alt="Lobo Fantasma">
                    </div>

                    <div class="card-body">
                        <h1>Fantasma</h1>
                        <p>Este perro es increíble y muy especial, fiel como un Stark.</p>

                        <div class="card-footer">
                            <i class="fa-solid fa-paw"></i>
                        </div>
                    </div>
                </article>

                <article class="card-marketplace article-daeneris">
                    <div class="card-image">
                        <img src="/public/img/👀🤙👅.jpeg" alt="Gato Balerion">
                    </div>
                    <div class="card-body">
                        <h1>Balerion</h1>
                        <p>Este gato se cree la reina de Poniente, es valiente y un poco loco.</p>
                        <div class="card-footer">
                            <i class="fa-solid fa-dragon"></i>
                        </div>
                    </div>
                </article>

                <article class="card-marketplace article-aegon">
                    <div class="card-image">
                        <img src="/public/img/_ (1).jpeg" alt="Perro Aegon">
                    </div>
                    <div class="card-body">
                        <h1>Aegon</h1>
                        <p>Pinche perro todo un conquistador, se conquistó todo el patio XD.</p>
                        <div class="card-footer">
                            <i class="fa-solid fa-crown"></i>
                        </div>
                    </div>
                </article>

                <article class="card-marketplace article-viserys">
                    <div class="card-image">
                        <img src="/public/img/These 88 Cats With Unique Markings Might Be The Coolest Thing Ever.jpg"
                            alt="Gato Viserys">
                    </div>
                    <div class="card-body">
                        <h1>Viserys</h1>
                        <p>Jajaja pinche alucín, se cree de la realeza.</p>
                        <div class="card-footer">
                            <i class="fa-solid fa-fire"></i>
                        </div>
                    </div>
                </article>

                <article class="card-marketplace article-drogon">
                    <div class="card-image">
                        <img src="/public/img/kittycat🐱.jpg" alt="Gato Drogon">
                    </div>
                    <div class="card-body">
                        <h1>Drogon</h1>
                        <p>Drogon versión felina, pequeño pero con mucho carácter.</p>
                        <div class="card-footer">
                            <i class="fa-solid fa-dragon"></i>
                        </div>
                    </div>
                </article>

                <article class="card-marketplace article-barry">
                    <div class="card-image">
                        <img src="/public/img/l.jpeg" alt="Perro Barry">
                    </div>
                    <div class="card-body">
                        <h1>Barry</h1>
                        <p>El mejor caballero, un honor para este noble can.</p>
                        <div class="card-footer">
                            <i class="fa-solid fa-shield-halved"></i>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section class="Adopt" id="adopt">
            <h2>Formulario de Adopción</h2>
            <form action="">
                <label for="nombre">
                    Tu Nombre:
                    <input type="text" name="nombre" id="nombre" placeholder="Ej. Jon Snow">
                </label>
                <label for="cachorro">
                    Nombre de la Mascota:
                    <input type="text" name="cachorro" id="cachorro" placeholder="¿A quién adoptas?">
                </label>
                <label for="number">
                    Número de Teléfono:
                    <input type="number" name="number" id="number">
                </label>
                <label for="email">
                    Email:
                    <input type="email" name="email" id="email">
                </label>
                <label for="ciudad">
                    Dirección:
                    <input type="text" name="ciudad" id="ciudad">
                </label>
                <label for="reseña">
                    ¿Por qué quieres adoptarlo?:
                    <textarea name="mensaje" id="reseña"></textarea>
                </label>

                <button type="submit">Enviar Solicitud</button>
            </form>
        </section>
    </main>

    <script src="../js/script.js"></script>
</body>

</html>