/* Elimina la barra inicial y la ruta completa, usa rutas relativas */
@import url('/src/components/molecules/molecules.css');
@import url('/src/components/organism/organism.css');
@import url('/src/components/atoms/atoms.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Agrega esto para que el padding no rompa el ancho */
}

body {
    font-family: Arial, sans-serif;
    background-color: #0C0C0D;
    color: white; /* Para asegurar que el texto se vea */
}











