:root {
    --primary-purple: #603085;
    --accent-purple: #B292FF;
    --bg-dark: #111;
    --bg-input: #1a1a1b;
    --text-white: #FFFFFF;
    --text-gray: #ccc;
    --text-light-gray: #bbb;

    /* Colores sección Pets */
    --negro-profundo: #0c0c0d;
    --batalla-oscuro: #1a1a1b;
    --azul-glacial: #9EB1B9;
    --acero-palido: #ccc;
    --bruma-fria: #5E6B6F;
    --batalla-gris: #404F54;
}